Repository julianburr/vscode-bugsnag-stepthrough: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./website lint --fix, yarn --cwd ./extension lint --fix, prettier --write

ci: attempt to fix deployment 1
  .github/workflows/website.yml
  README.md
  extension/README.md
  website/README.md
Due: prettier --write

ci: attempt to fix deployment 2
  .github/workflows/website.yml
  website/README.md
Due: prettier --write

ci: attempt to fix deployment 3
  .github/workflows/website.yml
  website/README.md
Due: prettier --write

fix: revert change to branch
  .github/workflows/website.yml
Due: prettier --write

fix: fix pr workflow name
  .github/workflows/pr.yml
Due: prettier --write

Fix website deployment workflow (#2)
  .github/workflows/pr.yml
  .github/workflows/website.yml
  README.md
  extension/README.md
  website/README.md
Due: prettier --write

fix: fix extension workflow
  .github/workflows/extension.yml
Due: prettier --write

fix: fix extension workflow 2
  .github/workflows/extension.yml
  .github/workflows/pr.yml
Due: prettier --write

fix: remove ds_store
  .DS_Store
  .gitignore
Due: none

fix: remove ds_store 2
  .gitignore
Due: none

feat: add website setup
  .github/workflows/website.yml
  website/.eslintrc.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/index.tsx
  website/src/assets/icons/github.svg
  website/src/assets/icons/linkedin.svg
  website/src/assets/icons/twitter.svg
  website/src/assets/icons/vscode.svg
  website/src/assets/images/hero.png
  website/src/assets/images/hero.webp
  website/src/components/footer.tsx
  website/src/components/header.tsx
  website/src/components/inner.tsx
  website/src/components/section-content.tsx
  website/src/components/section-image.tsx
  website/src/components/section.tsx
  website/src/components/sections/faqs.tsx
  website/src/components/sections/getting-started.tsx
  website/src/components/sections/placeholder.tsx
  website/src/components/sections/priorities.tsx
  website/src/components/sections/skip-issues.tsx
  website/src/components/sections/stepthrough.tsx
  website/src/utils/ga.ts
  website/yarn.lock
Due: yarn --cwd ./website lint --fix, prettier --write

Website setup (#4)
  .DS_Store
  .github/workflows/website.yml
  website/.eslintrc.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/index.tsx
  website/src/assets/icons/github.svg
  website/src/assets/icons/linkedin.svg
  website/src/assets/icons/twitter.svg
  website/src/assets/icons/vscode.svg
  website/src/assets/images/hero.png
  website/src/assets/images/hero.webp
  website/src/components/footer.tsx
  website/src/components/header.tsx
  website/src/components/inner.tsx
  website/src/components/section-content.tsx
  website/src/components/section-image.tsx
  website/src/components/section.tsx
  website/src/components/sections/faqs.tsx
  website/src/components/sections/getting-started.tsx
  website/src/components/sections/placeholder.tsx
  website/src/components/sections/priorities.tsx
  website/src/components/sections/skip-issues.tsx
  website/src/components/sections/stepthrough.tsx
  website/src/utils/ga.ts
  website/yarn.lock
Due: yarn --cwd ./website lint --fix, prettier --write

fix: fix workflows
  .github/workflows/extension.yml
  .github/workflows/pr.yml
Due: prettier --write

fix: remove unfinished files
  website/src/components/mock/plugin/core.tsx
  website/src/components/mock/plugin/details.tsx
  website/src/components/mock/plugin/overview.tsx
  website/src/components/mock/plugin/settings.tsx
Due: yarn --cwd ./website lint --fix

fix: fix ts issue
  components/src/screens/settings.tsx
Due: none

ci: fix issue caused by the workspaces changes
  .github/workflows/website.yml
Due: prettier --write

fix: fix 1
  .github/workflows/website.yml
Due: prettier --write

fix: fix 2
  .github/workflows/website.yml
  .gitignore
Due: prettier --write

fix: fix 3
  .github/workflows/website.yml
  website/src/components/mock/vscode/side-bar.tsx
Due: yarn --cwd ./website lint --fix, prettier --write

Fix issue caused by the workspaces changes (#7)
  .github/workflows/website.yml
  .gitignore
  website/src/components/mock/vscode/side-bar.tsx
Due: yarn --cwd ./website lint --fix, prettier --write

feat: add some seo stuff
  .github/workflows/website.yml
  website/pages/_app.tsx
  website/public/favicon.ico
  website/public/robots.txt
  website/public/vercel.svg
  website/src/assets/favicon.png
  website/src/assets/images/hero.png
  website/src/assets/images/hero.webp
  website/src/assets/images/preview.png
  website/src/components/seo.tsx
Due: yarn --cwd ./website lint --fix, prettier --write

feat: add section screenshots
  website/package.json
  website/src/components/extension-preview.tsx
  website/src/components/header.tsx
  website/src/components/marker.tsx
  website/src/components/mock/extension/complete.tsx
  website/src/components/mock/extension/data/use-mock.ts
  website/src/components/mock/extension/getting-started.tsx
  website/src/components/mock/extension/priorities.tsx
  website/src/components/mock/extension/skip-issues.tsx
  website/src/components/mock/extension/stepthrough.tsx
  website/src/components/mock/vscode/index.tsx
  website/src/components/mock/vscode/side-bar.tsx
  website/src/components/placeholder.tsx
  website/src/components/section.tsx
  website/src/components/sections/getting-started.tsx
  website/src/components/sections/priorities.tsx
  website/src/components/sections/skip-issues.tsx
  website/src/components/sections/stepthrough.tsx
Due: yarn --cwd ./website lint --fix, prettier --write

fix: misc styling and typo fixes
  components/index.tsx
  components/src/error/trend.tsx
  components/src/screens/details.tsx
Due: none

fix: misc a11y and seo fixes
  components/src/error/trend.tsx
  components/src/screens/details.tsx
  components/src/screens/overview.tsx
  components/src/screens/settings.tsx
  website/next.config.js
  website/src/components/extension-preview.tsx
  website/src/components/footer.tsx
  website/src/components/mock/extension/data/use-mock.ts
  website/src/components/mock/vscode/index.tsx
  website/src/components/mock/vscode/side-menu.tsx
  website/src/components/mock/vscode/top-bar.tsx
  website/src/components/sections/faqs.tsx
  website/src/components/sections/getting-started.tsx
  website/src/components/seo.tsx
Due: yarn --cwd ./website lint --fix

fix: misc fixes for dark mode
  website/pages/index.tsx
  website/src/components/header.tsx
  website/src/components/mock/vscode/index.tsx
Due: yarn --cwd ./website lint --fix

fix: change primary color in vscode mock
  website/src/components/mock/vscode/side-bar.tsx
Due: yarn --cwd ./website lint --fix

fix: fix
  website/src/components/sections/priorities.tsx
Due: yarn --cwd ./website lint --fix

chore: bump extension version
  extension/package.json
Due: prettier --write

Finish website (#8)
  .github/workflows/website.yml
  components/index.tsx
  components/src/error/trend.tsx
  components/src/screens/details.tsx
  components/src/screens/overview.tsx
  components/src/screens/settings.tsx
  extension/package.json
  website/next.config.js
  website/package.json
  website/pages/_app.tsx
  website/pages/index.tsx
  website/public/favicon.ico
  website/public/robots.txt
  website/public/vercel.svg
  website/src/assets/favicon.png
  website/src/assets/images/hero.png
  website/src/assets/images/hero.webp
  website/src/assets/images/preview.png
  website/src/components/extension-preview.tsx
  website/src/components/footer.tsx
  website/src/components/header.tsx
  website/src/components/marker.tsx
  website/src/components/mock/extension/complete.tsx
  website/src/components/mock/extension/data/use-mock.ts
  website/src/components/mock/extension/getting-started.tsx
  website/src/components/mock/extension/priorities.tsx
  website/src/components/mock/extension/skip-issues.tsx
  website/src/components/mock/extension/stepthrough.tsx
  website/src/components/mock/vscode/index.tsx
  website/src/components/mock/vscode/side-bar.tsx
  website/src/components/mock/vscode/side-menu.tsx
  website/src/components/mock/vscode/top-bar.tsx
  website/src/components/placeholder.tsx
  website/src/components/section.tsx
  website/src/components/sections/faqs.tsx
  website/src/components/sections/getting-started.tsx
  website/src/components/sections/priorities.tsx
  website/src/components/sections/skip-issues.tsx
  website/src/components/sections/stepthrough.tsx
  website/src/components/seo.tsx
Due: yarn --cwd ./website lint --fix, prettier --write

fix: move seo back inline to fix weird nextjs issue
  website/pages/_app.tsx
  website/src/components/seo.tsx
Due: yarn --cwd ./website lint --fix

Move SEO back inline to fix weird nextjs issue (#9)
  website/pages/_app.tsx
  website/src/components/seo.tsx
Due: yarn --cwd ./website lint --fix

ci: try to fix issue 1
  extension/package.json
Due: prettier --write

ci: try to fix issue 1
  .github/workflows/extension.yml
Due: prettier --write

fix: fix
  .github/workflows/extension.yml
Due: prettier --write

Fix vsce monorepo issue when trying to publish extension in CI (#10)
  extension/package.json
Due: prettier --write

Path conditions:
  yarn --cwd ./website lint --fix: any of: website/**/*.{js,ts,tsx}
  yarn --cwd ./extension lint --fix: any of: extension/**/*.{js,ts,tsx}
  prettier --write: any of: **/*.{md,json,yml}
